body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

h1{
    font-size: 3.5rem;
    color: brown;
    font-weight: bold;
}

h2{
    font-size: 1.5rem;
    font-weight: normal;
    color: blue;
    font-weight: bold;
}
